//COLORS
$color-primary: #326ec9;
$color-primary-light:#649ff7;
$color-primary-dark: #042d89;

$color-secondary: #00c691;


$color-default-font:#273044;
$color-white:#fff;
$color-black:#000;


//GRID
$grid-width: 120rem;
$gutter_vartical: 6rem;
$gutter_horizental:6rem;

//font
$default-fount-size:1.6rem;
