.bar{
    width: 100%;
    padding: 1rem 11rem;
    background-color: $color-primary;
    color: $color-white;
    @include clearfix;
    font-size: 1rem;

    &__section{
        display: inline-flex;
        align-items: center;
        float: right;
        padding: 0 3rem;

    }
    &__icon{
        margin-right: 12px;
    }
    
}