body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    
    font-weight: 400;
    font-size: $default-fount-size;
    color: $color-default-font;
}


.heading-primary{
    color: $color-white;
    margin-bottom: 4rem ;
   
        font-size: 4.4rem;             
        font-weight: 600;

        &--sub{
            color: $color-primary-light;
        }  
    }


.heading-quaternary{
    font-size: 2rem;   
    font-weight: 400;          
    margin-bottom: 4rem ;


}


.heading-secondary{
    font-size: 3.5rem;
    font-weight: 700;
    //applying color gradient on text
    display: inline-block;
    color: $color-default-font;
    margin-bottom: 3rem;
    
}

.paragraph{
    font-weight: 300;

    margin-bottom: 3rem;
    &__sub{
        font-weight: 700;
    }
}

.heading-tertiary{
    font-size: 3.5rem;
    font-weight: 300;
}
// .paragraph{
//     font-size: $default-fount-size;
//     &:not(:last-child){
//         margin-bottom: 3rem;
//     }